
/* ------------------------------------NAVBAR STARTS---------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x:hidden ;
   }
   html{
       overflow-x:hidden ;
   }

   .header{
    background-color:rgb(24, 22, 22);
    display: flex;
    flex-direction: column;
   }
   .nav1{
    width: 100%;
   }
   .navbar{
    display: flex;
    justify-content: space-around;
    padding: 0px;
   }
   .nav-list1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
   }
   .free{
    display: flex;
    gap: .5rem;
   }
.a{
    font-size:small ;
    text-decoration: none;
}
.a:link,.a:visited{
    color:#959595;
    font-weight: 500;
}
a:hover{
    text-decoration: underline;
}
.container1{
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:initial;
}

.nav-list2{
    display: flex;
    align-items: center;
    gap: 3rem;

}
.list1{
    display: flex;
    gap: .5rem;
}

.nav2{
    display: flex;
    flex-direction: column;
    background-color: transparent;

}

.container2{
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: initial; */
    justify-content: space-between;
    position:sticky;
}

.list2{
    width: 100%;
    display: flex;
    gap:700px;
    color: white;
    justify-content: space-around;
    align-items: center;
}
.Shopkart{
    display: flex;
    justify-content: space-between;
    font-size: 45px;
    width: 100%;
}
.p{
    font-size:medium;
    width:20vw;
    display: flex;
    align-items: center;
    flex-wrap: initial;
}
.line{
    background-image: url('component/assects/Group\ 16.png');
    background-repeat: no-repeat;
    margin-top: -30px;
    height: 5vh;
    width: 80vw;
    
  
}


.nav-list3{
    display: flex;
  align-items: center;
    gap: 3rem;
    width: 100%;
}
/* .a{
    font-size: large;
    color: white;
} */
#product{
border: none;
background-color: transparent;
color: white;
font-size: 18px;
}
#product:hover{
    text-decoration: underline;
}
.product{
  
    background-color: black;
    border:none;
}
.a1{
    text-decoration: none;
    color: white;
    font-size:18px;
}
.Shopkart-nav-list{
    display: flex;
    align-items: center;
}

.menu{
    display: none;
    background-color: transparent;
    border: none;
}

.section{
    background: transparent;
    background-color: black;
    
}
.group15{
   display: flex;
   flex-direction: column;
   flex-wrap: initial;

    background-image: url('component/assects/Group\ 15.png');
    background-repeat: no-repeat;
    height: 100vh;
   
}
.style{
    height: 71vh;
    display: flex;
    flex-direction: column;
}

.fresh{
    height: 85px;
    width: 528px;
    background-image: url('component/assects/Lorem\ ipsum\ dolor\ sit\ amet\,\ consectetur\ adipiscing\ elit\,\ sed\ do\ eiusmod\ tempor\ incididunt\ ut\ labore\ et\ dolore\ magna\ aliqua.\ Ut\ enim\ ad\ minim\ veniam\,\ quis\ nostrud\ exercitation\ ullamco.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 25px;
    top: 44px;
   
}
.year{
    height:  85px;
    width: 528px;
    background-image: url('component/assects/2022.png.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: 263px;
    top: 78px; 
}

.look{
    height:  85px;
    width: 528px;
    background-image: url('component/assects/look\ \(1\).png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: 80px;
    top: 78px; 
}
.seemore{
    background: transparent;
    color: white;
   
    border: 1px gray solid;
    margin-bottom: 4px;
}

@media (max-width:826px){

    .menu{
        display: block;
    }

    .p{
        display: none;
    }
    .line{
        border-radius: 70%;
        height: .3vh;
    }
    
    .mobile-nav-list3{
        width: 100%;
        height: 60vh;
        background:  rgb(10, 10, 10);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateX(100%);
        transition: all 0.5s linear;

        opacity: 0;
        visibility: hidden;
       
       
    }
    .nav-list3{
        position: relative;
        height: 30vh;
    }
    .nav-list3{
        background-color: black;
      align-items: center;
      flex-direction: column;
      margin-top: 30px;
      
    }
    .visible .nav-list3{
        transform: translateX(0);
        opacity: 1;
        visibility: visible; 
    }
    .container2{
        display: none;
    }
    .group15{
        width: 100%;
        background-size: cover;
        background-image: url('component/assects/Group\ 15\(1\).png');
    }
   
    .style{
        position: absolute;
        top: 90px;
    }
    .fresh{
        height: 44px;
        width: 274px;
        background-image: url('component/assects/fresh2.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        left: 10px;
        top: 295px;
      }
      .year {
        height: 32px;
        width: 257px;
        background-image: url('component/assects/20222.png');
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        left: 69px;
        top: 342px;
    }
    .look {
        height: 45px;
        width: 517px;
        background-image: url('component/assects/look2.png');
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        left: 39px;
        top: 388px;
      }

      .seeMore{
        position: relative;
        left:12px ;
        top:251px ;
      }
      .NewProduct > .newproduct-list {
        display: flex;
        flex-direction: column;
        height: 20vh;
        width: auto;
      }
     
      .NewProduct{
        display: flex;
        flex-direction: column;
      }
      .newproduct-list>.n{
        font-size: 47px;
      }
      .NewProduct>.line1{
        position: relative;
        top: -89px;
        left: -67px;
      }
      
      
      @media   (max-width:992px){
        
        .NewProduct > .newproduct-list {
            display: flex;
            flex-direction: column;
            height: 20vh;
            width: auto;
          }
      }
      @media   (max-width:500px){
        
        .NewProduct > .newproduct-list {
            display: flex;
            flex-direction: column;
            height: 20vh;
            width: auto;
          }
      }

}
@media   (max-width:554px){

    .free,.a{
        font-size: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .f{
        display: none;
    }
    .nav-list2{
        font-size: 9px;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .group15{
        width: 100%;
        background-image: url('component/assects/Group\ 15\(1\).png');
        background-size: auto;
        background-origin: content-box;
    }

    .style{
        position: absolute;
        top: 90px;
    }
    .fresh{
        height: 44px;
        width: 274px;
        background-image: url('component/assects/fresh2.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        left: 10px;
        top: 273px;
      }
      .year {
        height: 32px;
        width: 257px;
        background-image: url('component/assects/20222.png');
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        left: 69px;
        top: 313px;
    }
    .look {
        height: 45px;
        width: 517px;
        background-image: url('component/assects/look2.png');
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        left: 39px;
        top: 342px;
      }
      
      
      
      .seeMore{
        position: relative;
        left:12px ;
        top:251px ;
      }

      .NewProduct>.newproduct-list{
        display: flex;
        flex-direction: column;
        
        height: 20vh;
        width: auto;
      }
     
      .fech>.NewProduct{
        display: flex;
        flex-direction: column;
        height: auto;
      }
      .newproduct-list>.n{
        font-size: 47px;
      }
      .NewProduct>.line1{
        position: relative;
        top: -90px;
        left: -17px;
      }
      .NewProduct>.newproduct-list>.arrow{
       display: none;
      }

      .fech>.section2{
        display: flex;
        flex-direction: column;
      }
      .main>.fech>.section2>.nav4{
       display: flex;
       justify-content: center;
       align-items: center;
       width: auto;
    position: relative;
    top: -109px;
    height: auto;
      }
      .main>.fech>.section2>.nav4>.ul{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
      }
      .product-item{
        height: auto;
      }
      .footer>.sec3{
        display: flex;
        flex-direction: column;
        gap:3rem;
        height: 60vh;
      }
      .footer>.sec3>.contact{
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      .footer>.sec3>.contact>.cont{
        margin-left: 0rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .footer>.sec3>.contact>.cont>.GET{
        width: 48vw;
        text-align: center;
      }
      .footer>.sec3>.contact>.cont>.NEWS{
        font-size: 25px;
        font-weight: bold;
      }
      .footer>.sec3>.contact>.form>.container>.line6{
        width:  80vw;
        margin: 0rem;
      }
      .footer>.sec3>.Get>.getin{
        height: 27vh;
      }
     .footer>.sec3>.Get>.button{
        background-size: contain;
        width: 99vw;
        position: relative;
        top: -24px;
        right: 63px;
     }
     .footer>.sec3>.Get{
        display: flex;
        gap: 0rem;
     }
    

}


@media (max-width:390px) {
    .conatiner1{
        padding-left: -2rem;
    }
    .a
    {font-size: 3px;}
    .nav-list2{
        display: flex;
        gap: 1rem;
        padding-left: -2rem;
    }
    .nav-list1{

        padding-left: -2rem;
    }
    .group13{
        width: 100%;
        background-size: cover;
        background-image: url('component/assects/Group\ 15\(1\).png');
    }
    .style{
        position: relative;
        top: 20px;
    }
    .fresh{
        height: 44px;
        width: 274px;
        background-image: url('component/assects/fresh2.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        left: 75px;
        top: -180px;
      }
      .year {
        height: 32px;
        width: 257px;
        background-image: url('component/assects/20222.png');
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        left: 152px;
        top: -147px;
    }
    .look {
        height: 45px;
        width: 517px;
        background-image: url('component/assects/look2.png');
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        left: 95px;
        top: -129px;
      }
      .sec3{
        margin-top: 40px;
      }
      .main>.fech>.nav4>{
        display: flex;
        flex-direction: row;
        width: 100%;
      }
    
}

/*------------------------------------------------- NAVBAR ENDS--------------------------------------------------------- */

/*------------------------------------------------- PRODUCT START------------------------------------------------------- */
.main{
    margin-bottom: 2rem;
    height: 100vh;
}
.fech{
    display: flex;
    flex-direction: column;
    margin-bottom: 9px;
}
.NewProduct{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.newproduct-list{
    display: flex;
    align-items: center;
    gap: 398px;
    width: auto;
}
.arrow{
    display: flex;
    justify-content: space-around;
    width: 202px;
}
.arrow2{
    background-image: url('component/assects/Arrow\ 2.png');
  
    background-repeat: no-repeat;
    width: 59px;
    height: 12px;
}
.arrow1{
    background-image: url('component/assects/Arrow\ 1.png');
    background-repeat: no-repeat;
    width: 59px;
    height: 12px;
}
.n{
    margin-top:2rem ;
    margin-bottom:21px ;
    font-size: 60px;
    font-weight: bold;
    width: 566px;
    color: black;
   

}
.line1{
    background-image: url('component/assects/Group\ 17.png');
    background-repeat: no-repeat;
    width: 410px;
    height: 7vh;
    position: relative;
    top: -50px;
    left: -398px;

}
.section2{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.nav4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: auto;

}
.ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.product{
    background-color: snow;
    display: flex;
    
    overflow-x: scroll;
}
.product-item{
    display: flex;
    gap: 2rem;
}

.a2{
    font-size:500 ;
    text-decoration: none;
}
.a2:link,.a2:visited{
    color:#000000;
    font-weight: 500;
}
/*------------------------------------------------- PRODUCT ENDS------------------------------------------------------- */

.footer{
    /* height: 100vh; */
    margin-top: 24rem;
    background-image: url('component/assects/18591063.png');
    background-repeat: no-repeat;
    background-size: contain;
    
}
.sec3{
    display: flex;
    flex-direction: column;
    background-image: url('component/assects/18591063.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    gap:3rem
    
}
.contact{
    /* height: 100vh; */
    display: flex;
  align-items: baseline;
  flex-direction: row;
  gap: 17rem;
}
.cont{
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
   
    /* justify-content: space-evenly; */
}

.NEWS{
    font-size: 40px;
}
.GET{
    font-size: 16px;
    width: 22vw;
}
.form{
    margin-right: 57px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.line6{
    background-image: url('component/assects/Line\ 19.png');
    background-repeat: no-repeat;
    height: 1vh;
    width: 31vw;
}
.Get{
    display: flex;
}

.getin{
    background-image: url('component/assects/get\ in\ touch.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 513vw;
    height: 40vh;
    margin-left: 10px;
}
.button{
    background-image: url('component/assects/Button.png');
    
    background-repeat: no-repeat;
   
    border: none;
    background-color: transparent;
    position: relative;
    right: 105px;
}
.lastfoot{
    background-color: black;
  display: flex;
  justify-content: center;
  color: white;
}


@media all and (min-width:827px) and (max-width:1400px){
    .fech>.NewProduct>.newproduct-list
    {
        display: flex;
        gap: 12rem;
    }

    .fech>.NewProduct>.line1{
        position: relative;
            left: -149px;
          
    }
    
}

/* @media all and (min-width:992px) and (max-width:1201px){
   

    .fech>.NewProduct>.line1{
        position: relative;
            left: -295px;
          
    }
    
} */

/* @media (max-width:827) {
    .fech>.NewProduct>.line1{
        position: relative;
            left: -295px;
          
    }
} */
